<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
    <% if(errorMessage) { %>
        <div><%= errorMessage  %></div>
        <% } %>
    <h1>Some error occured!</h1>
    <h2>We are working on it.</h2>

<%- include('includes/end.ejs') %>